:root{
    /* colors */
    --color-alpha-blue: #B7DAEF;
    --color-text-alpha:#08518B;
    --color-alpha-yellow: #F8F067;
    --color-alpha-yellowII:#D4CB2F;
    --color-alpha-yellow-light: #FFFAA3;
    --color-alpha-green:#73AC40;
    --color-text-red:#E96220;
    
    /* font */
    --font-family: Sniglet;

    /* font-size */
    --standard-pixels: 32px;

}

table{
    border-spacing: 0px;
}
html{
    /* font */
    font-family:var(--font-family);
    
    /* background afbeelding */
    background-image: url(../img/background.svg);
    background-repeat:no-repeat;
    height: auto;
    width: auto;
    background-size: cover;
    background-attachment: fixed;
    color: var(--color-text-alpha);
  
    
}

a{
    text-decoration: none;
    color:var(--color-text-alpha);
}

td{
    padding: 8px;
}

.hidden {position:absolute;visibility:hidden;opacity:0;}
input[type=checkbox] + label {
    font-size: var(--standard-pixels);
    height: 50px;
    padding-top: 16px;
    padding-bottom: 16px; 
    margin-bottom: 5%;
    margin-left: 32px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    width: 99%;
    font-family:var(--font-family);
    color: #6E6E6E;
    background-color: #D9D9D9;
    border: 4px solid #A8A8A8; 
    text-align: center;

} 
input[type=checkbox]:checked + label {
    font-size:var(--standard-pixels);
    height: 50px;
    padding-top: 16px;
    padding-bottom: 16px;  
    margin-bottom: 5%;
    margin-left: 32px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    font-family:var(--standard-pixels);
    color: var(--color-text-alpha);
    background-color: var(--color-alpha-yellow);
    border: 4px solid var(--color-alpha-yellowII); 
    text-align: center;

}

.checkbutton{
    display: none;
}

.chart{
    font-family: var(--font-family);
    color: var(--color-text-alpha);
    height: 100%;
}

.color-svg{
    fill: var(--color-text-alpha);
}

/* COMPONENTS */
.c-title{
    color: var(--color-text-alpha);
    text-align: center;
    margin-top: 10%;
    font-size: 32px;
}

.c-title2{
    color: var(--color-text-alpha);
    text-align: center;
    margin-top: 25%;
    font-size: 32px;
}

.c-instruction{
    display: none;
    margin-top: 15%;
    /* color: var(--color-text-red); */
    color: var(--color-text-alpha);
    text-align: center;
    font-size: 24px;
    transition: ease-in;
}

.c-title-vragen{
    text-align: left;
}

.c-titletable{
    font-size: 24px;
}

.c-title-table{
    background-color: var(--color-alpha-yellowII);
    padding: 8px;
    text-align: left;
    width: 100%;
}

.c-table{
    width: 100%;
    background-color: var(--color-alpha-yellow);
}

.c-table-color:nth-child(even) 
{
    background-color: var(--color-alpha-yellow-light);
}

/* voor responsive add css grid */
.c-button{ 
    font-family: var(--font-family);
    border: 4px solid var(--color-alpha-yellowII);
    color: var(--color-text-alpha);
    background-color: var(--color-alpha-yellow);
}

.c-button-vragen{
    height: 100px;
    font-size: var(--standard-pixels);
    width: 50%;
    margin-left: 25%;
}

.c-button-index{
    height: 101px;
    font-size: 30px;
    margin-top: 10%;
    margin-left: 16%;
    width: 351px;
}

.c-button-login{
    height: 73px;
    width: 100%;
    font-size: 24px;
    margin-bottom: 8px;
}

.c-button-volgende{
    width: 75%;
    height: 40px;
}

.c-buttons-thema{
    
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10%;
}

.c-card-vragen{
    height: 300px;
    width: 200px;
    background-color: var(--color-alpha-yellow);
    border: 4px solid var(--color-alpha-yellowII);
    margin-top: 60px;
}

.c-button:hover{
    background-color: var(--color-alpha-yellow-light);
    border-color: var(--color-alpha-yellow);
    transition-duration: 0.4s;
}

.c-global{
    display: grid;
    grid-template-columns: 33% auto 33%;
    grid-gap: 0;
}

.c-center{
    margin-left: 10%;
}

.c-card
{
    background-color: var(--color-alpha-yellow);
    border: solid 8px var(--color-alpha-yellowII);
    /* margin-top: 20%; */
    padding-bottom: 10%;
    height: auto;
    display: grid;
    /* grid-template-columns: 64px auto 64px;
    grid-template-rows: auto auto auto auto auto auto; */
}

.c-card-item__input{
    width: 100%;
}

.c-card-item__home{
    margin-left: 16px;
    margin-top: 10px;
}

.c-card-item__btn{
    text-align: center;
    margin-top: 32px;
    margin-left: 8px;
}

.c-card-item__btnregistreren{
    margin-top: 16px;
}

.c-card-item__form{
    max-width: 50%;
    margin-left: 15%;
    margin-top: 32px;
}

.c-input{
    width: 99%;
    padding: 2px 4px;  
    font-family: Sniglet;
    border: none;
    line-height: 1.5;
}

input:focus {
    /* outline-color: coral; */
    outline-color: var(--color-text-alpha);
    /* border: 3px solid var(--color-alpha-yellowII);
    outline: none; */
    /* box-shadow: 0 30px 40px var(--color-alpha-yellowII); */
  }

.c-grid
{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    min-height: 100%;
}

.c-grid__item
{
    /* grid-column: span 6; */
    grid-column: 1/-1;
}

.c-add{
    cursor: pointer;
}

.c-center{
    text-align: center;
}
/* POP-UP */
/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: var(--color-alpha-yellow-light);
    color: var(--color-text-alpha);
    text-align: center;
    /* border-radius: 6px; */
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }

  .testklasse{
      border: solid 1px black;

  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--color-alpha-yellow-light) transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 0.4s;
    animation: fadeIn 0.4s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  .c-button__popup{
    width: 100%; 
    border:none; 
    font-family: var(--font-family); 
    color:var(--color-text-alpha); 
    background-color:var(--color-alpha-yellow-light);
}

.position-logout{
    text-align: right;
    padding: var(--standard-pixels);
    cursor: pointer;
}

.c-button__popup:hover{
    background-color: var(--color-alpha-yellow);
}

/* custom dropdown list */
/*the container must be positioned relative:*/
.custom-select {
    position: relative;
    font-family: var(--font-family);
    width:150px;
    
  }
  
.custom-select select {
    display: none;  /* hide original SELECT element: */
  }
  
.select-selected {
    background-color: white;
  }

/* custom dropdown list */
/*the container must be positioned relative:*/
.custom-select1 {
    position: relative;
    font-family: var(--font-family);
    width:150px;
    
  }
  
.custom-select1 select {
    display: none;  /* hide original SELECT element: */
  }
  
.select-selected {
    background-color: white;
  }
  
/*style the arrow inside the select element:*/
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: var(--color-text-alpha) transparent transparent transparent;
}
  
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    border-color: transparent transparent var(--color-text-alpha) transparent;
    top: 7px;
}
  
/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
    color: var(--color-text-alpha);
    font-size: 16px;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}
  
  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: white;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }

.transparant{
    border: none;
    width: 60px;
    background-color: transparent;
    height: 60px;
}

/* vragen tonen */
.progress-bar {
    /* margin-top: 15%; */
    width: 70%;
    margin-left: 15%;
    height: 10px;
    background: var(--color-alpha-yellow);
    padding: 3px;
    border: none; 
}

.progress-bar-fill {
    display: block;
    height: 10px;
    background: var(--color-alpha-green);
    transition: width 10s ease-in-out;
}

.answer{
    display: grid;
    grid-template-columns: auto auto auto;
    
}

/* UTILITIES */
.u-grid-col-span-3
{
    grid-column: span 3;
}

.u-grid-col-span-2
{
    grid-column: span 2;
}

.u-grid-col-span-1
{
    grid-column: span 1;
}

.u-grid-col-span-4
{
    grid-column: span 4;
}

.u-grid-col-span-5
{
    grid-column: span 5;
}

.u-grid-col-span-6
{
    grid-column: span 6;
}




.u-grid-row-span-4
{
    grid-row: span 4;
}

.u-grid-row-span-3
{
    grid-row: span 3;
}

.u-grid-row-span-2
{
    grid-row: span 2;
}

.u-grid-row-span-1
{
    grid-row: span 1;
}
