:root{
    /* colors */
    --color-alpha-blue: #B7DAEF;
    --color-text-alpha:#08518B;
    --color-alpha-yellow: #F8F067;
    --color-alpha-yellowII:#D4CB2F;
    
    /* font */
    --font-family: Sniglet;

}
html{
    /* font */
    font-family:var(--font-family);
    
    /* background afbeelding */
    background-image: url(../img/background.svg);
    background-repeat:no-repeat;
    height: auto;
    width: auto;
    background-size: cover;
    background-attachment: fixed;
    color: var(--color-text-alpha);

    
}

a{
    text-decoration: none;
    color:var(--color-text-alpha);
}

/* COMPONENTS */
.c-title{
    color: var(--color-text-alpha);
    text-align: center;
    margin-top: 10%;
    font-size: 32px;
}

/* voor responsive add css grid */
.c-button{ 
    font-family: var(--font-family);
    border: 4px solid var(--color-alpha-yellowII);
    color: var(--color-text-alpha);
    background-color: var(--color-alpha-yellow);
}

.c-button-index{
    height: 101px;
    font-size: 30px;
    margin-top: 10%;
    margin-left: 8%;
    width: 351px;
}

.c-button-login{
    height: 73px;
    width: 230px;
    font-size: 20px;
}

.c-button:hover{
    background-color: #FFFAA3;
    border-color: var(--color-alpha-yellow);
    transition-duration: 0.4s;
}

.c-global{
    display: grid;
    grid-template-columns: 33% auto 33%;
    grid-gap: 0;
}

.c-card
{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    background-color: var(--color-alpha-yellow);
    border: solid 8px var(--color-alpha-yellowII);
    margin-top: 20%;
    margin-bottom: 10%;
    height: 500px;
    display: grid;
    /* grid-template-columns: 64px auto 64px;
    grid-template-rows: auto auto auto auto auto auto; */
}

.c-card-item__input{
    margin-left: 15%;
}

.c-card-item__home{
    margin-left: 16px;
    margin-top: 10px;
}

.c-card-item__btn{
    margin-left: 20%;
    max-width: 50%;
    text-align: center;
    margin-top: 32px;
}

.c-card-item__form{
    max-width: 50%;
    margin-left: 15%;
    margin-top: 32px;
}

.c-input{
    width: 300px;
}

input:focus {
    /* outline-color: coral; */
    outline-color: var(--color-text-alpha);
    /* border: 3px solid var(--color-alpha-yellowII);
    outline: none; */
    /* box-shadow: 0 30px 40px var(--color-alpha-yellowII); */
  }