/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
    /* Global colors */

    --global-color-alpha: #08518B;



    --global-color-neutral: #F8F067;
    --global-color-neutral-dark: #D4CB2F;


    /* Baseline settings */
    --global-baseline: 8px;         
    --global-whitespace: calc(var(--global-baseline) * 3); /* = 24px */

    --global-whitespace-xs: calc(var(--global-baseline) / 2); /* = 4px */
    --global-whitespace-sm: calc(var(--global-baseline) * 1); /*  = 8px */
    --global-whitespace-md: calc(var(--global-baseline) * 2); /*  = 16px */
    --global-whitespace-lg: calc(var(--global-baseline) * 4); /*  = 32px */
    --global-whitespace-xl: calc(var(--global-whitespace) * 2); /*  = 48px */
    --global-whitespace-xxl: calc(var(--global-whitespace) * 3); /*  = 72px */
    
}

html{
    font-family:'Sniglet', cursive;
    color: #08518B;
    background-image: url("../img/background.svg");
    top:0;
  
    /* Full height */
    width:auto;
    height:auto;
  
    /* Center and scale the image nicely */
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

.hidden {position:absolute;visibility:hidden;opacity:0;}
input[type=checkbox] + label {
    font-size: 36px;
    padding-top: 5%;
    padding-bottom: 5%; 
    margin-bottom: 5%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    font-family:'Sniglet', cursive;
    color: #6E6E6E;
    background-color: #D9D9D9;
    border: 4px solid #A8A8A8; 
    text-align: center;

} 
input[type=checkbox]:checked + label {
    font-size: 36px;
    padding-top: 5%;
    padding-bottom: 5%; 
    margin-bottom: 5%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    font-family:'Sniglet', cursive;
    color: var(--global-color-alpha);
    background-color: var(--global-color-neutral);
    border: 4px solid var(--global-color-neutral-dark); 
    text-align: center;

}
.chart{
    font-family:'Sniglet', cursive;
    color: var(--global-color-alpha);
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
}
.title{
    font-size: 300%;
    margin-left: 12%;
    margin-top: 6%;
}

.checkbutton{
    display: none;
}

.svg-button{
    margin-right: 5%;
}

.c-buttons{
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 10%;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 25%;
}

.c-button{
    font-size: 42px;
    font-family:'Sniglet', cursive;
    color: var(--global-color-alpha);


    background-color: var(--global-color-neutral);


    border: 4px solid var(--global-color-neutral-dark); 
    padding-left: 10%;
    padding-right: 10%; 
    padding-top: 5%;
    padding-bottom: 5%; 
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    
}
.c-button:hover{
    background-color: #FFFAA3;
    border-color: var(--global-color-neutral);
    transition-duration: 0.4s;
}


.c-buttons-niveau{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10%;
}

.c-button-niveau{
    font-size: 42px;
    font-family:'Sniglet', cursive;
    color: var(--global-color-alpha);
    background-color: var(--global-color-neutral);
    border: 4px solid var(--global-color-neutral-dark); 
    padding-top: 5%;
    padding-bottom: 5%; 
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.c-button-niveau:hover{
    background-color: #FFFAA3;
    border-color: var(--global-color-neutral);
    transition-duration: 0.4s;
}

.c-buttons-thema{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 7%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10%;
}


.c-button-start{
    font-size: 32px;
    font-family:'Sniglet', cursive;
    color: #6E6E6E;
    background-color: #D9D9D9;
    border: 4px solid #A8A8A8; 
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    padding: 1% 5% 1% 5%;
    float: right; 
    margin-right: 5%;
    margin-top: 7%;
}
.c-button-volgende{
    font-size: 32px;
    font-family:'Sniglet', cursive;
    color: var(--global-color-alpha);
    background-color: var(--global-color-neutral);
    border: 4px solid var(--global-color-neutral-dark); 
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    padding: 1% 5% 1% 5%;
    float: right; 
    margin-right: 5%;
    margin-top: 3%;
}
.c-button-volgende:hover{
    background-color: #FFFAA3;
    border-color: var(--global-color-neutral);
    transition-duration: 0.4s;
}
.question{
    font-family:'Sniglet', cursive;
    font-size: 64px;
    text-align: center;
    margin-top: 6%;
}

.progress-bar {
    margin-top: 15%;
    width: 70%;
    margin-left: 15%;
    height: 10px;
    background: var(--global-color-neutral);
    padding: 3px;
    border: none; 
}

.progress-bar-fill {
    display: block;
    height: 10px;
    background: #73AC40;
    /*transition: width 250ms ease-in-out;*/
    transition: width 10s ease-in-out;
}

.answer{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10%;
}

.c-button-antwoord{
    font-size: 42px;
    font-family:'Sniglet', cursive;
    color: var(--global-color-alpha);
    background-color: var(--global-color-neutral);
    border: 4px solid var(--global-color-neutral-dark); 
    width: 100%;
    height: 100%;
    padding-top: 8%;
    padding-bottom: 8%; 
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}